
.settings_setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.settings_setting i{
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}
.settings_setting_column{
    display: flex;
    opacity: 0.7;
}

.settings_setting_column:first-child:hover{
    color: black;
    border: 8px;
  
}
/* 추가 */

.nav_notification-settings{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    /* position: absolute; */
    left: 15px;
    bottom: 15px;

}