.TokDeal-Box{
    display: flex;
    width: 715px;
    height: 480px;
    flex-direction: column;
    justify-content: space-between;
   
}
.TokDeal-Box_header{
    display: flex;
    flex-direction: row;

}
.TokDeal-Box_contentsBox{
    display: flex;
    flex-direction: row;
}